<%- include('../port/layout-start', { title: title }) %>

<h1 class="my-4"><%= title %></h1>

<form action="/api/user/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" name="email" id="email" required>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Пароль:</label>
    <input type="password" class="form-control" name="password" id="password" required>
  </div>

  <button type="submit" class="btn btn-primary">Войти</button>
</form>

<%- include('../port/layout-end') %>